<h1>Todos</h1>

<form class="form-inline" role="form">
	<div class="form-group">
	{{input value=title placeholder="title" class="form-control"}}
	{{input value=description placeholder="description" class="form-control"}}
	<button {{action 'addTodo'}} class="btn btn-default">Add</button>
	</div>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	{{#each model}}
		<tr>
	      <td>{{title}}</td>
	      <td>{{description}}</td>
		</tr>	
	{{/each}}
	</tbody>
</table>