<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<p class="navbar-brand">Coalesce Ember CLI ToDo</p>
		</div>
		{{link-to 'Home' 'index' classNames="btn btn-default navbar-btn"}}
		<div class="btn-group navbar-right">
			<button {{action 'flush'}} class="btn btn-primary navbar-btn">Flush</button>
			<button {{action 'saveToStorage'}} class="btn btn-success navbar-btn">Save Session To Storage</button>	
		</div>

	</div>
</nav>

<div class="row">

	<div class="col-md-4">

		<h1>Users</h1>

		<form class="form-inline" role="form">
			<div class="form-group">
			{{input value=name placeholder="name" class="form-control"}}
			<button {{action 'addUser'}} class="btn btn-default">Add</button>
			</div>
		</form>
		<br />
		<table class="table table-striped">
			<tbody>
			{{#each itemController="user"}}
				<tr>
				{{#if isEditing}}
			      <td colspan="2">{{input value=name placeholder="name"}}</td>
			      <td><button {{action "acceptChanges"}} class="btn-xs btn-success">Save</button></td>
			    {{else}}
			    	<td>{{name}}</td>
			    	<td>{{link-to 'Todos' 'todos.index' this class="btn btn-xs btn-primary"}}</td>
			    	<td><button {{action "editUser"}} class="btn-xs btn-info ">Edit</button></td>
			    	<td><button {{action "removeUser"}} class="btn-xs btn-danger ">Delete</button></td>
			    {{/if}}

				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>

	<div class="col-md-4">
		{{outlet}}
	</div>

</div>
